<app-add-player-form (onAddPlayer)="addPlayer($event)"></app-add-player-form>
<app-button
  color="{{ showAddTask ? '#F2836B' : '#F24405' }}"
  text="{{ showAddTask ? 'Close' : 'Add Player' }}"
  (btnClick)="toggleAddTask()"
></app-button>
<div class="main-container">
  <div class="stat-label-container item-container" *ngIf="players.length > 0">
    <h4>Name</h4>
    <h3>PPG</h3>
    <h3>RPG</h3>
    <h3>APG</h3>
    <h3>SPG</h3>
    <h3>BPG</h3>
    <h3>FG%</h3>
    <h3>3P%</h3>
  </div>
  <div class="player-items-container">
    <app-player-item
      *ngFor="let player of players"
      [player]="player"
      (onDeletePlayer)="deletePlayer(player)"
    >
    </app-player-item>
  </div>
</div>
<span style="color: #9e9e9e" *ngIf="players.length > 0"
  >Click a player's name to delete</span
>
