/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f2f2f2;
  color: #031059;
}

h3,
h4 {
  font-size: 1.8rem;
}

.container {
  margin: auto;
  overflow: auto;
  height: 100vh;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
.btn {
  color: #fff;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}
.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.form-control label {
  display: block;
  margin-left: 5px;
}

.form-control input,
.btn {
  width: 100%;
  height: 40px;
  margin-top: 5px;
  padding: 3px 7px;
  font-size: 17px;
  outline: none;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  font-family: inherit;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
}

@media only screen and (min-width: 800px) {
  .container {
    width: 800px;
  }
}
