<!-- <button (click)="clickButton()"></button> -->
<form class="add-form" *ngIf="showAddTask" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <label for="playerName"
      >Enter Player Name
      <span class="span-error">{{ errorMessage }}</span></label
    >
    <input
      type="playerName"
      name="playerName"
      [(ngModel)]="playerName"
      id="playerName"
      placeholder="LeBron James"
    />
    <input class="btn submit-btn" type="submit" value="Add Player" />
  </div>
</form>
